<p id="notice"><%= notice %></p>

<%= link_to 'New Portfolio', new_portfolio_path %>
<h1>Listing Portfolios</h1>

<% @portfolios.each do |portfolio| %>
  <ul>
    <li><b>Name: </b><%= portfolio.name.capitalize %></li>
    <li><b>Description: </b><%= portfolio.description %></li>
    <%= image_tag portfolio.image.url, class: "image-sizes" %>
  </ul>

  <%= link_to "Show", portfolio_path(portfolio) %>
  <%= link_to "Edit", edit_portfolio_path(portfolio) %>
  <%= link_to "Delete", portfolio, method: :delete, data: { confirm: "Are you sure?" } %>

<% end %>


