<% if admin_signed_in? %>
    <%= link_to "Add project", new_portfolio_path %>
<% end %>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Take a look at some of my projects!</h1>
        <p>Here are few of my projects I have done from the beginning of my web development times till now.  All APPS were built on Ruby on Rails including this site!  Most of the gems used in these apps consisted of devise and bootstrap-sass.  Some apps used API's for their features. The company websites listed below were all html, CSS, JS built with no frameworks in place.</p>
    </div>
</div>

<div class="col-md-10">
    <% @portfolios.each do |portfolio| %>
    <div class="col-md-6">
        <div class="panel panel-default well" id="port-panel">
            <h3 class="text-center"><%= portfolio.name.titleize %></h3>
            <%= image_tag portfolio.image.url, class: "img-responsive project" %>
            <p><%= portfolio.description %></p>

            <% if current_admin %>
            <br/>
            <%= link_to 'New Portfolio', new_portfolio_path %> <br/>
            <%= link_to "Edit", edit_portfolio_path(portfolio) %> <br/>
            <%= link_to "Delete", portfolio, method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>

<div class="col-md-2">
    <h3>Experience in... </h3>
    <% @technologies.each do |tech| %>
    <ul>
        <li><%= tech.name %></li>
    </ul>
    <% end %>
</div>




