<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>

<div class="col-md-10 col-md-offset-1">

<%= image_tag @portfolio.image.url, class: "img-responsive show-image" %>
<ul>
    <li><strong>Name:</strong> <%= @portfolio.name.titleize %></li>
    <li><strong>Description:</strong> <%= @portfolio.description %></li>
</ul>
</div>

