<p id="notice"><%= notice %></p>

<div class="col-md-12">
   <div class="col-md-8">
      <%= image_tag @portfolio.image.url, class: "img-responsive image-show" %>
   </div>
   <div class="col-md-4">
      <div class="col-md-12 heading">
         <h4><%= @portfolio.name.titleize %></h4>
      </div>
      <div class="col-md-12 description">
         <p><%= @portfolio.description %></p>
      </div>
   </div>

   <%= link_to "Check out the website" %>
</div>
