<p id="notice"><%= notice %></p>

<div class="col-md-12">
   <div class="col-md-8">
      <%= image_tag @portfolio.image.url, class: "img-responsive image-show" %>
   </div>
   <div class="col-md-4">
      <div class="col-md-12 heading">
         <h4><%= @portfolio.name.titleize %></h4>
      </div>
      <div class="col-md-12 description">
         <p><%= @portfolio.description %></p>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
         <%= link_to 'Back', portfolios_path %>
      </div>
   </div>
</div>
