<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>


<ul>
    <li><strong>Name:</strong> <%= @portfolio.name %></li>
    <li><strong>Description:</strong> <%= @portfolio.description %></li>
</ul>

<%= image_tag @portfolio.image.url, class: "image-sizes" %>
