<p id="notice"><%= notice %></p>

<% if admin_signed_in? %>
<%= link_to 'New Work experience', new_work_experience_path %>
<% end %>

<div class="row">
  <div class="col-md-12 text-center">
    <h1>Listing Work Experiences</h1>
    <hr>
  </div>
</div>

<% @work_experiences.each do |job| %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="bordered-jobs">
      <h3><%= job.name %></h3>
      <small class="pull-right">
        <%= job.start_date.strftime("%B %Y") %> -

        <% if job.current_job? %>
        Present
        <% else %>
        <%= job.end_date.strftime("%B %Y") %>
        <% end %>
      </small>

        <h5><i><%= job.job_title %></i></h5>
        <p><%= job.description %></p>
    </div>
  </div>
</div>
<hr>

<% if admin_signed_in? %>
  <%= link_to 'Show', work_experience_path(job) %> |
  <%= link_to 'Edit', edit_work_experience_path(job) %> |
  <%= link_to 'Destroy', work_experience_path(job), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% end %>


