<p id="notice"><%= notice %></p>

<h1>Listing Work Experiences</h1>
<% @work_experiences.each do |job| %>
<ul>
  <li><strong>Name:</strong> <%= job.name %></li>
  <li><strong>Start Date:</strong> <%= job.start_date %> -
    <% if job.current_job? %>
    Present
    <% else %>
    <%= job.end_date %>
    <% end %>
  </li>
  <li><strong>Job title:</strong> <%= job.job_title %></li>
  <li><strong>Description:</strong> <%= job.description %></li>
</ul>

  <%= link_to 'Show', work_experience_path(job) %> |
  <%= link_to 'Edit', edit_work_experience_path(job) %> |
  <%= link_to 'Destroy', work_experience_path(job), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


<hr>
<p><%= link_to 'New Work experience', new_work_experience_path %></p>
