

<p id="notice"><%= notice %></p>
<ul>
  <li><strong>Name:</strong> <%= @work_experience.name %></li>
  <li><strong>Start Date:</strong> <%= @work_experience.start_date %> -
    <% if @work_experience.current_job? %>
    Present
    <% else %>
    <%= @work_experience.end_date %>
  <% end %>
  </li>
  <li><strong>Job title:</strong> <%= @work_experience.job_title %></li>
  <li><strong>Description:</strong> <%= @work_experience.description %></li>
</ul>


<%= link_to 'Edit', edit_work_experience_path(@work_experience) %> |
<%= link_to 'Back', work_experiences_path %>
