

<div class="row">
  <div class="col-md-12">
    <h1 class="edu-title">Education</h1>
    <div class="col-md-8">
      <% @educations.each do |education| %>
      <div class="well">
        <h4 class="text-center white-heading"> <%= education.school_name %></h4>
        <%= fa_icon "map-marker" %> <%= education.location%><br/>
        <%= fa_icon "bookmark-o" %> <span class="edu-basics"><%= education.course_program %></span><br/>
        <%= fa_icon "calendar"%> <%= education.duration %><br/>
        <p class="edu-desc"><%= education.description %></p>
        <% if admin_signed_in? %>
        <%= link_to 'Show', education %> |
        <%= link_to 'Edit', edit_education_path(education) %> |
        <%= link_to 'Delet', education, method: :delete, data: {confirm: 'Are you sure?'} %> |
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="col-md-4 panel panel-default blue-panel">
      <div class="col-md-12 white-heading">
        <h4><%= fa_icon 'share-alt' %> TeamTreeHouse</h4>
        <%= link_to "TeamTreeHouse.com", "https://www.teamtreehouse.com" %>
      </div>

      <% @tth_points.each do |pt| %>
      <div class="col-md-6 panel-body">
        <!-- <div class="col-md-3 name-pts"> -->
        <h6><u><%= (pt[0]).upcase %></u></h6>
        <p class="pts"><%= number_with_delimiter pt[1] %> pts</p>
        <!-- </div> -->
      </div>
      <% end %>

    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row">
  <div class="blue-panel cs-panel">
    <div class="col-md-12 white-heading">
      <h3><%= fa_icon 'code' %> CodeSchool</h3>
      <%= link_to "CodeSchool.com", "https://www.codeschool.com", class:'pull-left' %>
      <div class="pull-right">(Total score: <%= number_with_delimiter @cs_info['total_score'] %>)</div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <% @cs_badges.each do |badge| %>
        <div class="col-md-3">
          <%= image_tag badge['badge'], size: '35' %><br/>
          <%= badge['title'] %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
