<p id="notice"><%= notice %></p>

<h1>Listing Educations</h1>
<%= link_to 'New Education', new_education_path %>
<div class="col-md-6 col-md-offset-3">
  <% @educations.each do |education| %>
  <ul>
    <li><%= education.school_name %></li>
    <li><%= education.location %></li>
    <li><%= education.duration %></li>
    <li><%= education.course_program %></li>
    <li><%= education.description %></li>
  </ul>
  <%= link_to 'Show', education %> |
  <%= link_to 'Edit', edit_education_path(education) %> |
  <%= link_to 'Delet', education, method: :delete, data: {confirm: 'Are you sure?'} %> |
  <% end %>
</div>

<br>

