<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Listing Educations</h1>
  <%= link_to 'New Education', new_education_path %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
    <div class="panel panel-default">
        <% @educations.each do |education| %>
        <div class="well">
          <h4 class="text-center edu-name"> <%= education.school_name %></h4>
          <%= fa_icon "map-marker" %> <%= education.location%><br/>
          <%= fa_icon "bookmark-o" %> <span class="edu-basics"><%= education.course_program %></span><br/>
          <%= fa_icon "calendar"%> <%= education.duration %><br/>
          <hr>
          <%= education.description %>

          <%= link_to 'Show', education %> |
          <%= link_to 'Edit', edit_education_path(education) %> |
          <%= link_to 'Delet', education, method: :delete, data: {confirm: 'Are you sure?'} %> |
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <h4>Random-O's</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <ul>
          <li>Yellow</li>
          <li>Black</li>
          <li>Purple</li>
          <li>Turtle</li>
          <li>Dinasour</li>
          <li>House</li>
          <li>YADA</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row edu-border">
  <div class="col-md-12">
    <div class="row">
      <h3><%= fa_icon 'code' %> CodeSchool</h3>
      <%= link_to "CodeSchool.com", "https://www.codeschool.com", class:'pull-left' %>
      <div class="pull-right">(Total score: <%= number_with_delimiter @cs_info['total_score'] %>)</div>
    </div>
    <hr>

    <% @cs_badges.each do |badge| %>
    <div class="col-md-3">
      <%= image_tag badge['badge'], size: '35' %><br/>
      <%= badge['title'] %>
    </div>
    <% end %>
  </div>
</div>

<div class="spacer"></div>

<div class="row edu-border">
  <div class="col-md-12">
    <div class="row">
      <h3><%= fa_icon 'share-alt' %> TeamTreeHouse</h3>
      <%= link_to "TeamTreeHouse.com", "https://www.teamtreehouse.com" %>
      <div class="pull-right">(Total score: <%= number_with_delimiter @tth_points.first[1] %>)</div>
    </div>
    <hr>

    <% @tth_points.each do |pt| %>
    <div class="col-md-3 name-pts">
      <h6><u><%= (pt[0]).upcase %></u></h6>
      <p class="pts"><%= number_with_delimiter pt[1] %> pts</p>
    </div>
    <% end %>
  </div>
</div>


<!--

<div class="row">
  <div class="col-md-12">
    <%# @tth_badges.each do |badge| %>
    <p><%# badge['name'] %></p>
    <%# end %>
  </div>
</div> -->
<!--
<div class="row">
  <div class="col-md-12">
    <%# @tth_badges.each do |badge| %>
    <p>
      <%# badge['courses'].each do |course| %>
      <%# course['title'] %>
      <%# end %>
    </p>
    <%# end %>
  </div>
</div> -->


