<div class="row">
   <ul>
      <li><%= @education.school_name %></li>
      <li><%= @education.course_program %></li>
      <li><%= @education.location %></li>
      <li><%= @education.duration %></li>
      <li><%= @education.description %></li>
   </ul>
</div>
